requests
pandas
urllib3
scikit-learn
numpy
joblib
PyYAML
wandb
loguru
fire
aiohttp
lightgbm
skorch
plotly
matplotlib
seaborn
# arfs
ray[tune]
optuna

# # eda
# umap-learn

# # SparCC
# dask[complete]
# numba
# h5py
# scipy


# dev
ruff
nbformat
pytest